---
import Layout from '../layouts/Layout.astro'
---

<Layout titulo="Inicio">
  <div class="flex flex-col items-center justify-center min-h-[80vh] px-6 text-center gap-4">
    <h1 class="text-3xl font-medium text-green-400">
      Sendeiros e Bosques de Galicia
    </h1>
    <p class="text-stone-400 text-sm max-w-xs">
      Rutas con ficha ecolóxica do ecosistema galego
    </p>
  </div>
</Layout>